<app-guardian-side-bar></app-guardian-side-bar>



<div class="form-container">
    <div class="form-grid">
        <!-- Left Column -->
        <div class="form-column">
            <div class="form-group" style="text-align: center;">
                <input type="submit" value="Add Doctors Details" style="background-color: grey;">
            </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.name}}</span>
                    <input type="text" id="name" name="name" [(ngModel)]="doctorDto.name" required>
                </div>
                <div class="form-group">
                    <label for="age">Adhar Number</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.aadharNumber}}</span>
                    <input type="number" id="age" name="age" [(ngModel)]="doctorDto.aadharNumber" required>
                </div>
                <div class="form-group">
                    <label for="specialization">Specialization:</label>
                    <span class="error-msg-span" style="color: red; font-family: 'Lucida Sans', Geneva, Verdana, sans-serif; font-size: 10px; font-style: italic;">
                        {{validationMessage.specialization}}
                    </span>
                    
                    <select id="specialization" name="specialization" [(ngModel)]="doctorDto.specialization" required>
                        <option value="" disabled selected>Select Specialization</option>
                        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.email}}</span>
                    <input type="email" id="email" name="email" [(ngModel)]="doctorDto.email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.phoneNumber}}</span>
                    <input type="number" id="phone" name="phone" [(ngModel)]="doctorDto.phoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.address}}</span>
                    <input type="text" id="address" name="address" [(ngModel)]="doctorDto.address" required>
                </div>
                <div class="form-group">
                    <label for="hospital">Hospital Name:</label>
                    <span class="error-msg-span" style="color: red; font-family: 'Lucida Sans', Geneva, Verdana, sans-serif; font-size: 10px; font-style: italic;">
                        {{validationMessage.hospitalName}}
                    </span>
                    <select id="hospital" name="hospital" [(ngModel)]="doctorDto.hospitalName" required>
                        <option value="" disabled selected>Select a hospital</option>
                        <option *ngFor="let hospital of hospitalList" [value]="hospital">{{ hospital }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hospital">Password:</label>
                    <span class="error-msg-span" style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;font-style: italic;">{{validationMessage.password}}</span>
                    <input type="password" id="hospital" name="hospital" [(ngModel)]="doctorDto.password" required>
                </div>
                <div class="form-group" style="text-align: center;">
                <div class="buttons">
                    <input type="submit" value="Clear" class="clear" (click)="clearform()">
                    <input type="submit" value="Submit" class="register" (click)="registerInmates()">
                </div>

                </div>
        </div>
    </div>
</div>
