<app-admin-sidebar></app-admin-sidebar>


<div class="settings-container">
  
    <div class="button-container">
      <!-- Clear Patients Database -->
      <button class="clear-button" (click)="clearPatientsDatabase()">
        Clear Patients Database
      </button>
  
      <!-- Clear Doctors Database -->
      <button class="clear-button" (click)="clearDoctorsDatabase()">
        Clear Doctors Database
      </button>
  
      <!-- Clear Guardians Database -->
      <button class="clear-button" (click)="clearGuradiansDatabase()">
        Clear Guardians Database
      </button>
  
      <!-- Clear Login Database -->
      <button class="clear-button" (click)="clearLoginDatabase()">
        Clear Login Database
      </button>
      <!-- Clear Login Database -->
      <button class="clear-button" (click)="clearDoctosAppointments()">
        Clear Doctors Appointments
      </button>

    </div>
  </div>