.camera-capture {
    text-align: center;
  }
  
  video {
    width: 100%;
    max-width: 1000px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  .controls {
    margin-top: 10px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .resident-container {
    width: 69%;
    margin: 20px auto;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alert-box {
    background: red;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px white;
  }
  
  .dismiss-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: red;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dismiss-btn:hover {
    background: lightgray;
  }

  .table-title
  {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(114, 111, 111);
    color: white;
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: left;

  }
  
  