

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!-- SIDE BAR STARTS HERE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
    <ul class="nav-list">
      <li>
        <a (click)="guardianSignup()">
            <i class='bx bxs-user-circle' style='color:#b88907'></i>
          <span class="links_name">Guardian Signup</span>
        </a>
         <span class="tooltip">Guardian Signup</span>
      </li>
      <li>
       <a (click)="doctorSignup()">
        <i class='bx bxs-capsule' style='color:#b88907'></i>
         <span class="links_name">Doctor Signup</span>
       </a>
       <span class="tooltip">Doctor Signup</span>
     </li>
     <li>
      <li>
       <a (click)="adminSignup()">
        <i class='bx bxs-user-detail' style='color:#b88907'></i>
         <span class="links_name">Admin Signup</span>
       </a>
       <span class="tooltip">Admin Signup</span>
     </li>
    </ul>
</div>
<!-- SIDE BAR ENDS HERE ************************************************************************ -->
